@import '../../scss/_mixins.scss';
@import '../../scss/_placeholders.scss';
#cont{
    @include bodyBuilder(100%,150vh);
    background-image: url('../../assets/myBooks.jpg');
    background-size: 100% 100%;
    text-align: center;
    @include mobile{
        @include bodyBuilder(100%,170vh);
    }
}
#formCont{
    @include bodyBuilder(60%, 40%);
    margin:0 auto;
    border:1px solid rgb(138, 138, 138);
    box-shadow:13px 8px 5px rgba(49, 48, 48, 0.397);
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #615454ab;
}
img{
    @include bodyBuilder(50%, 30%);
    
}
input{
    width:30vw;
    height:3vh;
    border-radius: 14px;
    text-align: center;
    transition: 0.3s;
    &:focus{
        width: 35vw;
    }
}

form{
    color:rgb(255, 255, 255);
    font-size:20px;

}
h2{
    font-size: 30px;
    color:rgba(255, 255, 255, 0.719);
}
#options{
    
    @include bodyBuilder(60%, 5%);
    margin:0 auto;
}
button{
    border-radius: 12px;
    font-size: 19px;
    
    @include bodyBuilder(50%, 100%);
@extend %cofnijButton;
@include mobile{
    clear: both;
    width: 100%;
}
}
