@import '../../scss/_mixins.scss';
@import '../../scss/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
#navLogged{
    @include bodyBuilder(100%,15%);

}


ul {
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $navLoggedBg;

}


ul > li{
    font-family: 'Merienda', cursive;
    float: left;
    width:20%;
    height: 2em;
    font-size:20px;
    text-align: center;
    text-decoration: none;
    padding:10px;
    opacity: 0.8;
    border:1px solid green;
    color:rgba(255, 255, 255, 0.966);
    &:hover{
        background-color: rgba(24, 214, 24, 0.445);
        width:21%;
    }
    &:first-child{
        border-left: none;
    }
}
