@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';
@import '../../scss/_mixins.scss';

#accountBooks{
    @include bodyBuilder($accountBooksWidth,$accountBooksHeight);
    @extend %booksExtend;
    background-image: url('../../assets/myBooks.jpg');
    background-size: cover;
    font-size: 20px;
}
.OwnedBooksFieldSet{
    overflow-y: auto;
    @include bodyBuilder($fieldSetWith, $fieldSetHeight);
    @extend %UsersBooksFieldSetExtend;
}
#booksOwned{
    
    @include bodyBuilder($booksOwnedWidth, $booksOwnedHeight);
    @extend %booksOwnedExtend;
}
.OwnedBooksFieldSet{
    @include bodyBuilder($BooksFieldSetWidth, $BooksFieldSetHeight);
    @extend %OwnedBooksFieldSet;
    text-align: center;
    overflow-y:auto;

}
button{
@extend %cofnijButton;
position: absolute;
bottom: 0;
}
.books{
    @include bodyBuilder(24%,30vh);
    float:left;
    cursor: pointer;
    font-size: 25px;

}
img{
    width: 100%;
    height: 100%;
    &:hover{
        opacity: 0.8;
        width:90%;
    }
}
