<div id="containerBooks">

        <div id="userBooks">
            <h2>Moje książki</h2>
            <div class="books" routerLink='ksiazka/{{ksiazka.id}}' *ngFor='let ksiazka of ksiazki |filter:user' >
                    <img src='{{ksiazka.zdjecie}}' />
            </div>

        </div>
        <div id="userBooksInActive">
            <h2>Nieaktywne książki</h2>
            <div class="books" routerLink='ksiazka/{{ksiazka.id}}' *ngFor='let ksiazka of ksiazki |filterActive:user' >
                <img src='{{ksiazka.zdjecie}}' />
        </div>
        </div>
</div>
<button (click)='back()'>Cofnij</button>