@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';
@import '../../scss/_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
.BookImageDetails{
    width:33vw;
    height:40vh;
    border: 1px solid black;
    
}
.buttonDetails{
    color:white;
    font-family: sans-serif;
    width:40%;
    height: 5em;
    border-radius: 10px;
    background:linear-gradient(90deg, rgba(12,55,5,1) 0%, rgba(31,156,12,1) 29%, rgba(0,255,179,0.9331933456976541) 100%);
    cursor: pointer;
    opacity: 0.9;
    font-size: 15px;
    font-family: 'Merienda', cursive;
    margin:10px 0 0 7%;
        &:hover{
            opacity: 0.7;       
        }
}
img{
    margin-left:30%;
}
#info{
    
    font-family: 'Merienda', cursive;
    width:92%;
    height: 60%;
    border:2px solid black;
    margin-left: 5%;
    background-color: #525252af;
    border-color: #0c0b0baf;
    opacity: 0.8;
    text-align: center;
    font-size: 23px;
    color:white;
}
h3{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}
#cont{
    @include bodyBuilder(100vw, 100vh);
    background-image: url('../../assets/bookAdd.jpg');
    background-size: 100% 100%;

}