@import '../../scss/_mixins.scss';
@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';
@import '../../scss/_media.scss';
@import '../../scss/_keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');


#loginBar{
    width:100%;
    height: 2.5%;
    
    opacity: 0.3;
    position: absolute;
    top:0;
    text-align: right;
    @include desktop(){
        height: 4%;
    }@include tablet(){
        height: 5%;
    }@include mobile(){
        height: 6%;
    }
    
}
#zalogujButton{
   
    @include bodyBuilder(10%,4vh);
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #69ca3d 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
    position: absolute;
    top:0;
    right: 0;
    opacity: 0.8;
    font-size: 20px;
    font-family: 'Source Serif Pro', serif;
    &:hover{
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        background-color:#68a54b;

    }
}

#account{
    @include bodyBuilder($accountWidth, $accountHeight );
    @extend %accountExtend;
    animation: slide-down 0.33s;
    transition: all .5s ease-in-out

}
.accountContainer{
    @include bodyBuilder(49.8%, 15vh);
    position: relative;
    float:left;
}

.inputLogin{
    @include bodyBuilder($loginInputWidth, $loginInputHeight);
    @extend %loginInputExtend;
    position: relative;
        &:focus{
            border:1px solid blue;
            width: 65%;
        }
    //media
    @include mobile(){
        height: 15%;
    }@include tablet(){
        height: 15%;
        
    }  @include desktop(){
        height: 20%;
        
    } @include LGdesktop(){
        height: 20%;
    }
   
      
    

}
.submitButtonLogin{
    width: 90%;
    height: 40%;
    background:linear-gradient(to bottom, #68cccc 5%, #2a96bd 100%);
	background-color:#68cccc;
	border-radius:25px;
	border:3px solid #199aab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 39px;
	text-decoration:none;
	text-shadow:0px 1px 21px #2f6627;
    margin:5px 0 ;
    &:hover{
        background:linear-gradient(to bottom, #2a96bd 5%, #68cccc 100%);
	    background-color:#2a96bd;
        
    }&:active{
        position:relative;
	    top:1px;
    }
    @include tablet(){
        font-size: 12px;

        }  @include mobile(){
            font-size: 12px;
    
            }
}

#register{
    width:50vw;
    height: 70vh;
    background-color: rgb(197, 197, 212);
    position: fixed;
    top:10vh;
    left: 25vw;
    z-index: 20;
    border: 1px solid black;
}
